@import '../abstract/functions';
@import './variables';

//===========================header-section=====================================================//

@mixin primary-bg() {
    background: $secondary-linear-gradient;
}
@mixin logo-img() {
    width: 140px;
}
//===================================carousel-slider-section===============================//

@mixin small-img() {
    width: 245px;
}
@mixin large-img() {
    width: 625px;
    position: absolute;
    top: 63px;
    left: 743px;
    height: 600px;
}
@mixin content(){
    position: absolute;
    margin-left: 226px;
    z-index: 1;
}

//======================mixin-for-button=========================================================


// this mixin for the header button(Employee Portel button)
@mixin custom-button-primary(){
    background: $primary-linear-gradient;
    border:none;
    color:$color-white;
    padding:rem(9) rem(15);

    &:focus{
        border:rem(5) solid black;
    }
    &:hover {
        background-color: white;
        color: #501769;
    }
}


// this mixin for the hero section botton (Book your spot button)
@mixin custom-button-secondary(){
    @include custom-button-primary();
    background: transparent;
    padding:rem(11) rem(23);
    border:rem(1) solid white;
    border-radius:rem(2);
}

//======================================mixin-for-box-shadow=============================================


//this mixin is for card bax-shadow

@mixin custom-box-shadow(){
    box-shadow: 0px 30px 70px $box-shadow-color;
}

// this mixin is for custom background color for card

@mixin custom-background-white(){
    background: $backgroud-white-color 0% 0% no-repeat padding-box;
}