@import './variable';


//======================================Header section==================================================//

@mixin logo-img() {
    width: 150px;
}
@mixin small-img() {
    width: 310px;
    position: relative;
}
@mixin large-img() {
    width: 600px;
    position: absolute;
    top: 55px;
    left: 63px;
    height: 575px;
}
@mixin content() {
    margin-top: 150px;
}