@import'./variable';

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background: transparent linear-gradient(241deg, #BA51D9 0%, #382780 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.poppins-thin-4 {
    font-family: "Poppins", sans-serif;
    color: $color-light-100;
    font-size: 30px;
    font-weight: 300;
  }
  

  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 70px;
    color: $color-light-100;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
 
  