

$color-pink-10: #FCFAFF;
$color-pink-30: #FCFAFF;
$color-pink-50: #F69BE1;
$color-pink-70: #FF1D7480;
$color-pink-100: #FF226F;
$color-light-100: #FFFFFF;
$color-light-70: #EBE7F0;
$color-grey-30: #666277;
$color-grey-70: #28233C;
$color-dark-100: #000000;
$color-blue-100: #382780;
$color-begni-100: #501769;
$color-begni-70: #BA51D9;
$color-begni-50: #CB67EA;
