@import '../css/vendors/bootstrap';
@import '../css/vendors/google-font';
@import '../css/base/reset';
@import '../css/base/typography';
@import '../css/abstract/mixins';
@import '../css/abstract/variables';
@import '../css/components/buttons';
@import '../css/components/cards';
@import '../css/abstract/functions';

//=======================================header-nav-btn section=============================//

.primary-bg {
    @include primary-bg();
}
.logo-img {
    img {
    @include logo-img()
    }
}
.emp-btn {
.btn {
    @include custom-button-primary();
}
}
.book-btn {
    .btn {
    @include custom-button-secondary();
    }
}
//<-----------------------------------------crousel-sleder section------------------------------->//

.carousel-inner {
    height: 700px;
}
.small-img {
    img {
        @include small-img();
    }
}
.large-img {
    img {
        @include large-img();
    }
}
.content {
    @include content();
    h1 {
        font-size: 70px;
        color: $color-white;
    }
    h4 {
        font-size: 30px;
        color: $color-white;
        font-weight: normal;
    }
}


// ===================================Expert-section-css==================================================

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.search input {
    outline: none;
    background: none;
    border: none;
}
.search input[type=search] {
    appearance: textfield;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
/* .search input::search-decoration,
.search input::search-cancel-button {
    display: none; 
} */


input[type=search] {
    background:url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 11px center;
    border: solid 0px #ccc;
    padding: 8px 10px 8px 32px;
    width: 1px;
    
    border-radius: 50em;
    border-radius: 50em;
    border-radius: 50em;
    
    transition: all .5s;
    transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background: none;
    background-color: #fff;
    
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:placeholder {
    color: #999;
}
input::input-placeholder {
    color: #999;
}

article{
    .expert-main{
        .container{
            .row{
                .col-lg-12{
                    .content-heading{
                       h1{
                        font-size:rem(60);
                        font-weight:rem(400);
                        padding-bottom:rem(15);
                       }
                       p{
                        font-size:rem(16);
                        font-weight:400;
                        color:$color-gray;
                       }
                    }
                }
            }

            .row{
               .col-lg-4{
                .card{
                    border:none;
                    width:rem(343);
                   // height:rem(544);
                    margin-top:rem(60);
                    margin-bottom: rem(20);
                    @include custom-background-white();
                    .card-heading{
                        padding:rem(60) rem(73);
                        @include custom-box-shadow();
                        height:rem(228);
                       

                        span{
                            img{
                                position:absolute;
                                top:rem(45);
                                left:rem(65);
                            }
                        }
                        h2{
                            font-size:rem(20);
                            font-weight:400;
                            line-height: rem(30);
                        }
                    }

                    .card-body{
                        h2{
                            font-size:rem(20);
                            padding:rem(16) rem(0) rem(2) rem(0);
                            font-weight: 500;
                            margin:0;
                        }
                        p{
                            font-size:rem(14);
                            color:$color-gray;
                            margin:0;
                            padding-bottom:rem(6);
                        }
                        .card-image{
                            img{
                                padding:rem(56) rem(0) rem(16) rem(0);
                                
                            }
                        }
                        .card-play-button{
                            img{
                                position: absolute;
                                top: -19px;
                                left: 44%;
                            }
                        }
                    }
                }
               } 
            }
        }
    }
}


//==========================================our-client-scsss================================================

article{
    .article-main{
        .container-fluid{
            .row{
                .col-lg-6{
                    .client-img{
                        padding: 186rem 150rem 0rem 0rem; 
                        position:relative;
                        .image{
                            img{
                                position: absolute;
                                top: 109rem;
                                left: 362rem;
                                width: 40%;
                                z-index: -1;
                            }
                        }
                        .logo{
                            left: 32rem;
                            background-color:$color-red;
                            display: inline-block;
                            width: 106rem;
                            height: 106rem;
                            border-radius: 62rem;
                            top: 31rem;
                            position: absolute;
                            @include custom-red-box-shadow();
                            img{
                                width: 40rem;
                                height: 63rem;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        
                    }
                }
                .col-lg-6{
                    padding: 286rem 163rem 0rem 0rem;
                        
                    .client-heading{
                        h1{
                            font-weight:400;
                            font-size: rem(60);
                        }
                        p{
                            font-size:rem(16);
                            //font-weight: 400;
                            color:$color-gray;
                            text-align: left;
                        }
                    }
                    .client-content{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

//========================================end-our-client-article============================================