@import '../css/vendors/bootstrap';
@import '../css/vendors/google-font';
@import '../css/base/reset';
@import '../css/base/typography';
@import '../css/abstract/mixins';
@import '../css/abstract/variables';
@import '../css/components/buttons';
@import '../css/components/cards';
@import '../css/abstract/functions';


header{
button{
    @include custom-button-primary();
}
}

.but{
    padding:rem(10);
    background: navy;
    button{
        @include custom-button-secondary();
        
    }
}
h3{
    @include custom-background-white();
    @include custom-box-shadow();
}

article{
    height:100vh;
    background: $brown-linear-gradient;
}